<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Navbar</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../assets/styles/main.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" 
                integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" 
                crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container py-4">
            <h2>1. Inscription</h2>
            <!-- CONTENT -->
            <h3>Inscription</h3>
            <p>Veuillez remplir le formulaire ci-dessous.</p>
            <form class="form-max-width">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Mot de passe (6 caractères minimum)</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword2" class="form-label">Confirmation du mot de passe</label>
                    <input type="password" class="form-control" id="exampleInputPassword2">
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-success">Valider</button>
                </div>
                <p class="d-flex justify-content-center mt-3">
                    Avez-vous déjà un compte ? 
                    <a href="#" class="success ms-2">Se connecter</a>
                </p>
            </form>
            <!-- CONTENT : end -->
        </div>

        <div class="container py-4">
            <h2>2. Connexion</h2>
            <!-- CONTENT -->
            <h3>Se connecter</h3>
            <p>Connectez-vous pour accéder à votre compte.</p>
            <form class="form-max-width">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Mot de passe (6 caractères minimum)</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-success">Valider</button>
                </div>
                <p class="d-flex justify-content-center mt-3">
                    Si vous n'avez pas de compte ? 
                    <a href="#" class="success ms-2">S'inscrire</a>
                </p>
                <p class="d-flex justify-content-center mt-3">
                    <a href="#" class="success ms-2">Mot de passe oublié ?</a>
                </p>
            </form>
            <!-- CONTENT : end -->
        </div>

        <div class="container py-4">
            <h2>3. Mot de passe oublié</h2>
            <!-- CONTENT -->
            <h3>Mot de passe oublié ?</h3>
            <p>Veuillez saisir votre email.</p>
            <form class="form-max-width">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-success">Valider</button>
                </div>
                <p class="d-flex justify-content-center mt-3">
                    Avez-vous déjà un compte ? 
                    <a href="#" class="success ms-2">Se connecter</a>
                </p>
                <p class="d-flex justify-content-center mt-3">
                    Si vous n'avez pas de compte ? 
                    <a href="#" class="success ms-2">S'inscrire</a>
                </p>
            </form>
            <!-- CONTENT : end -->
        </div>

        <div class="container py-4">
            <h2>4. Changement de mot de passe</h2>
            <!-- CONTENT -->
            <h3>Changement de mot de passe</h3>
            <p>Veuillez saisir votre nouveau mot de passe.</p>
            <form class="form-max-width">
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Mot de passe (6 caractères minimum)</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword2" class="form-label">Confirmation du mot de passe</label>
                    <input type="password" class="form-control" id="exampleInputPassword2">
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-success">Valider</button>
                </div>
                <p class="d-flex justify-content-center mt-3">
                    Avez-vous déjà un compte ? 
                    <a href="#" class="success ms-2">Se connecter</a>
                </p>
                <p class="d-flex justify-content-center mt-3">
                    Si vous n'avez pas de compte ? 
                    <a href="#" class="success ms-2">S'inscrire</a>
                </p>
            </form>
            <!-- CONTENT : end -->
        </div>
    </body>
</html>