<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Navbar</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../assets/styles/main.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" 
                integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" 
                crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- CONTENT -->
        <section class="banner banner-sm banner-dark" style="background-image: url('../assets/img/cloud-city.jpg');">
            <div class="container">
                <h1>Dashboard</h1>
                <p class="lead">Bienvenue au pays des merveilles, cher(e) "phbord@protonmail.com" !</p>
            </div>
        </section>

        <section class="pt-4">
            <div class="container py-4">
                <div class="my-3 p-3 bg-body rounded shadow-sm">
                    <h3 class="border-bottom pb-2 mb-0">Liste des utilisateurs</h3>
                    <ul>
                        <li class="d-flex justify-content-between py-2 border-bottom">
                            <div class="d-flex align-items-center text-muted">
                                <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                                <p class="mb-0 small lh-sm">
                                    <strong class="d-block text-gray-dark">pierre.marty@yopmail.com</strong>
                                </p>
                            </div>
                            <div class="btn-group" role="group">
                                <a href="#" class="btn btn-secondary btn-sm">Voir</a>
                                <a href="#" class="btn btn-secondary btn-sm">Editer</a>
                                <a href="#" class="btn btn-secondary btn-sm">Supprimer</a>
                            </div>
                        </li>
                        <li class="d-flex justify-content-between py-2 border-bottom">
                            <div class="d-flex align-items-center text-muted">
                                <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                                <p class="mb-0 small lh-sm">
                                    <strong class="d-block text-gray-dark">pierre.marty@yopmail.com</strong>
                                </p>
                            </div>
                            <div class="btn-group" role="group">
                                <a href="#" class="btn btn-secondary btn-sm">Voir</a>
                                <a href="#" class="btn btn-secondary btn-sm">Editer</a>
                                <a href="#" class="btn btn-secondary btn-sm">Supprimer</a>
                            </div>
                        </li>
                        <li class="d-flex justify-content-between py-2 border-bottom">
                            <div class="d-flex align-items-center text-muted">
                                <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                                <p class="mb-0 small lh-sm">
                                    <strong class="d-block text-gray-dark">pierre.marty@yopmail.com</strong>
                                </p>
                            </div>
                            <div class="btn-group" role="group">
                                <a href="#" class="btn btn-secondary btn-sm">Voir</a>
                                <a href="#" class="btn btn-secondary btn-sm">Editer</a>
                                <a href="#" class="btn btn-secondary btn-sm">Supprimer</a>
                            </div>
                        </li>
                        <li class="d-flex justify-content-between py-2 border-bottom">
                            <div class="d-flex align-items-center text-muted">
                                <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                                <p class="mb-0 small lh-sm">
                                    <strong class="d-block text-gray-dark">pierre.marty@yopmail.com</strong>
                                </p>
                            </div>
                            <div class="btn-group" role="group">
                                <a href="#" class="btn btn-secondary btn-sm">Voir</a>
                                <a href="#" class="btn btn-secondary btn-sm">Editer</a>
                                <a href="#" class="btn btn-secondary btn-sm">Supprimer</a>
                            </div>
                        </li>
                        <li class="d-flex justify-content-between py-2 border-bottom">
                            <div class="d-flex align-items-center text-muted">
                                <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                                <p class="mb-0 small lh-sm">
                                    <strong class="d-block text-gray-dark">pierre.marty@yopmail.com</strong>
                                </p>
                            </div>
                            <div class="btn-group" role="group">
                                <a href="#" class="btn btn-secondary btn-sm">Voir</a>
                                <a href="#" class="btn btn-secondary btn-sm">Editer</a>
                                <a href="#" class="btn btn-secondary btn-sm">Supprimer</a>
                            </div>
                        </li>
                        <li class="d-flex justify-content-between py-2 border-bottom">
                            <div class="d-flex align-items-center text-muted">
                                <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                                <p class="mb-0 small lh-sm">
                                    <strong class="d-block text-gray-dark">pierre.marty@yopmail.com</strong>
                                </p>
                            </div>
                            <div class="btn-group" role="group">
                                <a href="#" class="btn btn-secondary btn-sm">Voir</a>
                                <a href="#" class="btn btn-secondary btn-sm">Editer</a>
                                <a href="#" class="btn btn-secondary btn-sm">Supprimer</a>
                            </div>
                        </li>
                    </div>
                </div>
            </div>
        </section>

        <section class="pb-4">
            <div class="container">
                <a class="btn btn-success mr-2" data-method="get" href="/admin/events">Evénements</a>
                <a class="btn btn-secondary" href="/events">Accueil</a>
            </div>
        </section>
        <!-- CONTENT : end -->
    </body>
</html>